img {
}

body{
    background: #F26419;
    font-size: 12px;
}

.btn{
    color: lightblue;
    background: darkorange;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}
/*
F26419 - Orange Blaze
F6AE2D - Honey Yellow
758E4F - Moss Green
86BBD8 - Dark Sky Blue
33658A - Queen Blue

*/
.ques{
    background: #33658A;
    display: block;
    /* justify-content: center; */
    color: white;
    padding: 10 10 10 10;
    width: 80%;
    border: 5px  solid #F6AE2D;
    margin: 0 auto;
    font-size: x-large;
    line-height: 2;
    /* text-align: center; */
}
.hidea{
    text-decoration: none;
    color: white;
}
.normala{
    color: white;
}
.ans{
    padding-left: 50px;
}